.secondone {
    width: 100%;
    background-color: white;
}

.second_article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
}

.banner {
    display: flex;
    width: 331px;
    height: 230px;
    margin-left: 12px;
}

.banner-other {
    display: flex;
    position: relative;
    flex-direction: column;
    border: 1px solid lightgray;
    margin-right: 27px;
    width: 340px;
    height: 255px;
}

.banner-1 {
    background-image: url("../images/box1_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-2 {
    background-image: url("../images/box2_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-description {
    position: relative;
    top: 152px;
    width: 100%;
    height: 60px;
    background-color: rgba(240, 240, 240, 0.6);
}

.banner-other h4 {
    margin: 13px 0 0 5px;
    padding: 16px;
}

.banner-other-content {
    line-height: 20px;
    font-size: 14px;
    color: dimgray;
    margin-left: 10px;
    padding: 10px;
}

.banner h5 {
    font-size: 16px;
    padding: 12px;
}

.banner-1 h5 {
    font-size: 16px;
    padding: 12px;
    margin-left: 10px;
}

.banner-1 .green-underline {
    position: absolute;
    left: 18px;
    top: 32px;
    width: 139px;
}

.banner-2 .green-underline {
    position: absolute;
    left: 10px;
    top: 32px;
    width: 139px;
}

.banner-other .green-underline {
    width: 140px;
    position: absolute;
    top: 49px;
    left: 20px;
}